
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<link rel="stylesheet" href="stylesheet.css">
<style>
    body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#facaca;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #fd5842; }
.yellow { color: #ff7842; }

.container th h1 {
    font-weight: bold;
    font-size: 1em;
  text-align: left;
  color: #fd5d35;
}

.container td {
    font-weight: normal;
    font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #f5d8a4;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #aacbfc;
}

.container th {
    background-color: #f0e0c2;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
</style>
</head>
<body>
<div class="container">
<h1><span class="blue">&lt;</span>List Of<span class="blue">&gt;</span> <span class="yellow">Products</pan></h1>
<h2>Be loved - made by An</h2>

<table class="styleTable" border="1">
    <tr>
        
        <th class="name"> <h1>Name of Product </h1></th> 
        <th class="id"><h1>Price</h1></th>
        <th class="name"><h1>Description</h1></th>
        
    </tr>
    <tr>
        <a class="btn_index" href="/insert"><input type="submit" id="btn" value="Add"></a> 
    </tr>
    {{#each products}} 
    <tr>
        
            
        <td class="name">{{name}}</td>
        <td class="id">{{price}}</td>
        <td class="name">{{description}}</td>
        <td class="btn">
        <a class="btn_index" href="/delete?id={{_id}}"><input type="submit" id="btn" value="Delete"></a>
        </td> 
    </tr>  

    
        {{/each}}
</table>
</div>
</body>
</html>


